@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
*,::after, ::before{
    box-sizing: border-box;
}
body{
    background-color: #000;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Hammersmith One', sans-serif; */
    color: #fff;
}
header.header-index{
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Hammersmith One', sans-serif; */
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    position: absolute;
    z-index: 10000;
}
header.header-index ul.links-header{
    display: flex;
    gap: 2rem;
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    justify-content: flex-end;
    align-items: center;
}
header.header-index img{
    width: 15%;
}
header.header-index nav a{
    text-decoration: none;
    color: white;
}
header.header-index nav ul.links-header > li > a::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    transition: .9s;
}
header.header-index nav ul.links-header > li > a:hover::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: white;
    transition: all .9s;
    transform:rotate(0.5turn);
}
header.header-index ul.dropdown-menu a{
    color: black;
}
header.header-index ul.dropdown-menu a:hover{
    background-color: #7276a5;
}
header.header-index ul.dropdown-menu form:hover{
    background-color: #7276a5;
}
header.header-index ul.dropdown-menu input{
    background-color: transparent;
    border: none;
    padding-left: 1rem;
}
#cerrar-user{
    background-color: transparent;
    border: none;
    padding-left: 1rem;
}
header.header-index li.li-foto img{
    width: 100%;
    cursor: pointer;
}
header nav ul li.li-foto{
    width: 15%;
}

.banner-intro .second{
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgb(0, 0, 0)
      ),url('media/assets/bg2.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    position: relative;
}
.banner-intro *{
    z-index: 1000;
}
.banner-intro .second h2{
    font-size: 5rem;
    background-image: radial-gradient(circle at 30% 85%,#ffffff 0,#ffffff 35%,#1c68a7e8 55%);
    -webkit-background-clip: text;
    /* text-shadow: 2px 2px 4.5px rgba(255, 255, 255, 1); */
}
.banner-intro .first h2{
    font-size: 5rem;
    background-image: radial-gradient(circle at 30% 85%,#111727 0,#152c92 35%,#6d1414 55%);
    -webkit-background-clip: text;
    /* text-shadow: 3px 3px 6px rgba(21, 44, 146, 1); */
}
.banner-intro .first{
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgb(0, 0, 0)
      ),url('media/assets/bg1.1.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    position: relative;
}
.banner-intro .carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
}
.banner-intro .carousel-item::after{
    content: '';
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
    background: rgb(17,23,39);
background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.11808473389355745) 10%, rgba(0,0,0,0.3085609243697479) 20%, rgba(0,0,0,0.40940126050420167) 30%, rgba(0,0,0,0.4990371148459384) 40%, rgba(0,0,0,0.6530987394957983) 50%, rgba(0,0,0,0.795133053221288) 60%, rgba(0,0,0,0.8507457983193278) 69%, rgba(0,0,0,0.8995973389355743) 73%, rgba(0,0,0,1) 100%);
}
main{
    /* font-family: 'Hammersmith One', sans-serif; */
}
.container-samples-index > div.cancion-prev{
    width: 33.33%;
}
.cancion-prev img{
    transition: box-shadow .5s;
}
.cancion-prev img:hover{
    box-shadow: 0px 0px 50px #2c2b2b;
    transition: box-shadow .5s
}
#login{
    background: url('media/assets/bg2.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: background-image .5s;
}
#login header img{
    width: 15%;
}
#login .forms-container{
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
#login .input-field input{
    background: none;
    border: 0;
    border-bottom: 1.5px solid white;
    color: white;
}
#login .input-field input:focus{
    outline: none;
}
#login .form-option-picker h3.active{
    background-color: #102494aa;
    transition: all 1s;
    /* transform: translateY(-33%); */
}
#login .form-option-picker h3{
    cursor: pointer;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 10px;
    margin-bottom: 0;
    transition: all 1s;
    /* width: 33.33%; */
}

#login form.active-form{
    display: block;
}
#login .view-pass{
    cursor: pointer;
}
#login form:not(.active-form){
    display: none;
}
@media screen and (max-width:1040px) {
    #login header img{
        width: 40%;
    }
}

#grupo-main .form-group-completition{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 5%, rgba(7,77,119,1) 55%, rgba(0,0,0,1) 93%);
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#grupo-main .form-group-completition img{
    width: 20%;
    position: absolute;
    top: 1rem;
}
#grupo-main .form-group-completition textarea{
    background-color: #ffffff66;
    color: white;
    border-radius: 10px;
}
#admin-body{
    background-color: #111727;
}
/* #admin-body .menu-admin ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-size: 1.3rem;
}
#admin-body .menu-admin a{
    text-decoration: none;
    color: white;
}
#admin-main .menu-admin img{
    width: 100%;
} */
.tabla-estilos td,th{
    padding: 1rem;
    border: 1px solid white;
    text-align: center;
}
.tabla-estilos td:empty{
    content: '0';
    color: white;
}
.disco-detalle{
    background-color: #090f1f;
}
.grupo-detalle{
    background-color: #090f1f;
}
#admin-body .admin-grupos-selector h2{
    cursor: pointer;
}
#admin-body .admin-grupos-selector h2.tipo-activo{
    text-decoration: underline;
}
#admin-body .grupos-container,.albumes-container{
    place-content: center;
}
#admin-body .grupos-container:not(.container-activo){
    display: none;
}
#grupo-nuevo-album .container-añadir-canciones ul{
    list-style: decimal;
}
.style-dot-admin{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline-block;
  }
.estilos-container{
    place-content: center;
}
.modal-form-estilo{
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    backdrop-filter: blur(7px);
    transition: all .8s;
}
#form-nuevo-estilo{
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #111727;
    position: relative;
    gap: 1.5rem;
    padding: 1rem;
}
#close-form-add-style{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2rem;
    cursor: pointer;
}
#prohibido{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
}
#prohibido img{
    width: 40%;
    margin-top: 1rem;
}
.equalizer {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 50px;
  }
  
  .equalizer:first-of-type {
    align-items: flex-end;
    margin-bottom: 10px;
  }
  
  .equalizer:last-of-type {
    align-items: flex-start;
  }
  
  .equalizer > * {
    top: 50%;
    width: 15px;
    transition: height .25s;
    background: #f5eb5a;
    box-shadow: 0 0 10px 5px #4d6df3;
  }